<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Curriculum Diego Juárez</title>
</head>
<body>
    <header class="imageLogo">
        <h3><a href="../index.html">Inicio</a></h3>
        <img src="../img/FotoPerfil.png" alt="Foto Diego">
        <h1>CURRICULUM VITAE DE DIEGO JUÁREZ</h1>
    </header>

    <main>
        <div id="space"></div>

        <h2>DATOS PERSONALES</h2>
        <ul>
            <li><strong class="cursiva">Nombre completo: </strong>Diego Juárez</li>
            <li><strong class="cursiva">Fecha de nacimiento: </strong>27/07/1996</li>
            <li><strong class="cursiva">Lugar de nacimiento: </strong>México</li>
        </ul>

        <h2>FORMACIÓN ACADÉMICA</h2>
        <p><strong>2016-2020: </strong>Universidad Tecnológica de Puebla</p>
        <p class="space-left">Ingeniería Industrial</p>
        <p><strong>:2011-2014 </strong>Colegio de Bachilleres</p>
        <p class="space-left">Bachillerato</p>

        <h2>EXPERIENCIA LABORAL</h2>
        <p><strong>2022-Actualidad: </strong>CARTKEN</p>
        <p class="space-left">Supervisión de robots de delivery y mapeo de entorno para I.A</p>
        <p><strong>2021-2022: </strong>Alorica</p>
        <p class="space-left">Agente telefónico</p>
        <p><strong>2020-2021: </strong>PEMEX</p>
        <p class="space-left">Auxiliar de Operaciones</p>

    </main>
    <footer>
        <span class="foot"> 1996- DIEGO</span>  
        <a href="https://www.instagram.com" target="_blank"><img src="../img/ico_instagram.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/in/diego-ju%C3%A1rez-dev-ing/" target="_blank"><img src="../img/ico_linkedin.png" alt="LinkedIn"></a>
        <a href="https://github.com/DiegoJuarezV" target="_blank"><img src="../img/github2.png" alt="Github"></a>
      </footer>
</body>
</html>